extends layout

block content
  p Welcome to #{title}
  p #{sensId}:#{sensVal}  
  
  ol
    each sens in sensors
      li #{sens.CreatedAt} : #{sens.Sensors_SID} : #{sens.Value}


   p -----------------------------------------------------------------------------------------

   ol
    each val in values
      li #{val.title}
      each val2 in val.values  
        ul <b>#{val2.sensVal} </b>
        ul #{val2.date} 