extends layout
block content
  h1  Liste déroulante capteurs 
  fieldset.rotatinglist
  form(method='get', action='sensor')
    select(name='selectSensor', onchange='')
      each el in title
        option(value='#{el.Computername}, #{el.SID}, #{el.BID}')  #{el.Computername}, #{el.SID}, #{el.BID}
    input(type="date" name='calendar')
    input(type="time" name='timeDebut')
    input(type="time" name='timeFin')
    input(type='submit', name='Submit', value='Suivant')

  
      